body{
    background-color:rgb(255, 254, 254);
}

.jumbotron{
    background-color: transparent;
    text-align: justify;
    width: 45em;
    word-spacing: -1px;
    margin: -50px;
    margin-left: 340px;
    color: black;

}

.navbar{
    margin-left: 185px;
    top: -10px;
    width: 55em;
    border-radius: 15px;
}

@keyframes cursor-blink {
    0% {
      color: black;
    }
    50% {
      color: white;
    }
    100% {
      color: black;
    }
  }
  
  
  #cursor {
    animation: cursor-blink 1s infinite;
  }

  svg{
    margin-top: -900px;
  }
